@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Montserrat', sans-serif;
  height: 100vh;
}

a {
  text-decoration: none;
  color: #000;
}

p {
  line-height: 1.7;
}

ul {
  list-style: none;
}

li {
  line-height: 2.2;
  color:#FFFFFF
}

u{
  color: #FFFFFF;
}

h1,
h2,
h3 {
  font-weight: 600;
  margin-bottom: 10px;
  color: #FFFFFF;
}

.container {
  width: 100%;
  max-width: 960px;
  margin: 0 auto;
  padding: 0 20px;
  text-align: center;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 0;
  border-bottom: 1px solid #e6e6e6;
  margin-bottom: 60px;
}

.header ul {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header ul li {
  margin-left: 20px;
}

.header ul li a {
  display: flex;
  align-items: center;
}

.header ul li a:hover {
  color: #777;
}

.header ul li a svg {
  margin-right: 5px;
}

.heading {
  font-size: 2rem;
  font-weight: 700;
  margin-top: 10%;
  margin-bottom: 5%;
  padding: 0 20px;
}

.heading p {
  color: #FFFFFF;
}


.form,
.content {
  width: 70%;
  margin: auto;
}

.form-group {
  margin-bottom: 10px;
}

.form-group input,
.form-group textarea,
.form-group select {
  width: 100%;
  padding: 10px;
  border: 1px solid #e6e6e6;
  border-radius: 5px;
  margin-bottom: 10px;
  font-family: inherit;


}

.form-group label {
  text-align: left;
  display: block;
  margin: 0 0 5px 3px;
}

.btn {
  padding: 10px 20px;
  border: 1px solid #EA6C6C;
  border-radius: 5px;
  background: #EA6C6C;
  color: #fff;
  font-size: 16px;
  font-weight: 700;
  cursor: pointer;
  text-align: center;
  appearance: button;
  display: flex;
  align-items: center;
  justify-content: center;
}

.btn svg {
  margin-right: 8px;
}

.btn-reverse {
  background: #fff;
  color: #000;
}

.btn-block {
  width: 100%;
  margin-bottom: 20px;
}

.btn:hover {
  transform: scale(0.98);
}

.loadingSpinnerContainer {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 5000;
  display: flex;
  justify-content: center;
  align-items: center;
}

.loadingSpinner {
  width: 64px;
  height: 64px;
  border: 8px solid;
  border-color: #000 transparent #555 transparent;
  border-radius: 50%;
  animation: spin 1.2s linear infinite;
}

.leftbanner{
  position: absolute;
  width: 50%;
  height: 100%;
  left: 0px;
  top: 0px;
  background:linear-gradient(180deg, rgba(87, 169, 194, 0.8) 13.53%, rgba(50, 159, 61, 0.8) 95.94%); 
}

.rightbanner{
  position: absolute;
  width: 50%;
  height: 100%;
  left: 50%;
  top: 0px;
  background-image: url('/public/business-962358_1920.jpg');
}

.logincontainer{
  position: absolute;
  width: 438px;
  height: 395px;
  left: 30%;
  top: 30%;
  background: rgba(87, 169, 194, 0.93);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  mix-blend-mode: normal;
}

.logo{
  position: absolute;
  width: 267px;
  height: 27px;
  left: 30%;
  top: 190px;

  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  font-size: 36px;
  line-height: 44px;

  color: #FFFFFF;
}

.slogan{
  position: absolute;
  width: 60%;
  height: 88px;
  left: 15%;
  top: 341px;

  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  font-size: 36px;
  line-height: 44px;
  text-align: center;

  color: #FFFFFF;

}

.titlelist{
  position: absolute;
  width: 60%;
  height: 27px;
  left: 130px;
  top: 550px;
  text-align: left;

  font-family: 'Montserrat';
  font-style: italic;
  font-weight: 500;
  font-size: 24px;
  line-height: 29px;

  color: #FFFFFF;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@media (max-width: 600px) {
  .form {
    width: 90%;
  }

  .heading h1 {
    font-size: 2rem;
  }

  .heading p {
    font-size: 1.5rem;
  }
}